<div class="container-fluid">
  <div class="row">

    <div class="sidemenu col col-md-2 col-sm-12">
      <ul class="menu list-unstyled mb-4">
        <li>
          <a [routerLink]="['analytics']" routerLinkActive="active">Payouts &amp; Analytics</a>
        </li>
        <li>
          <a [routerLink]="['transactions']" routerLinkActive="active">All Trasactions</a>
        </li>
      </ul>
    </div>

    <div class="table-container col col-md-10 col-sm-12">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
