<div class="container-fluid">
  <div class="row">

    <!-- Sidemenu - Categories -->
    <div class="col col-3 col-sm-3 border-right no-scroll">
      
      <div class="float-right">
          <button mat-button class="mr-2">Save Draft</button>
          <button mat-raised-button color="dark-green" no-shadow>
            <i class="ion-ios-checkmark-empty"></i> Publish
          </button>
      </div>
      <div class="clearfix"></div>

      <h3 class="title">Promotional</h3>
      <ul class="category font-weight-bold">
        <li>
          Recommended
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
        <li>
          Popular
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
      </ul>

      <h3 class="title">Food Menu</h3>
      <ul class="category">
        <li>
          Shawarma
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
        <li>
          Main Course
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
        <li>
          Sides
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
        <li>
          Rice Bowl
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
        <li>
          Extras
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
        <li>
          Beverages
          <div class="float-right">
            <button mat-icon-button>
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="ion-android-more-vertical"></mat-icon>
            </button>
          </div>
        </li>
      </ul>

      <button mat-raised-button class="sticky-bottom" color="primary" (click)="openDialog()" block>CREATE CATEGORY</button>

    </div>

    <!-- Main Playing Body -->
    <div class="col col-9 col-sm-9">
      
    </div>

  </div>
</div>