<h2 class="title mb-4">Transactions</h2>

<div class="datatable">
  <div class="data-header">

  </div>
  <div class="data-body">
    <mat-table #table [dataSource]="dataSource">      
      <ng-container matColumnDef="transactionID">
        <mat-header-cell *matHeaderCellDef> Transaction ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transactionID}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="partnerName">
        <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.partnerName}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="partnerID">
        <mat-header-cell *matHeaderCellDef> Partner ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.partnerID}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="orderID">
        <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderID}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="percent">
        <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="commission">
        <mat-header-cell *matHeaderCellDef> Comm. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.commission}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class=""> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="ion-android-more-horizontal"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewDetails(element)">
              View Details              
            </button>            
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="data-footer">
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
