mat-dialog-content {
    padding: 0 30px;
    div.title {
        color: #979797;
        font-weight: 700;
        margin: 15px 0 10px;
    }
    .row {
        margin: 0;
    }
    .col {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .quantity {
        color: #168D12;
        font-weight: 600;
        text-align: right;
    }
}