app-login:host {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3e50b5;
  height: 100%;
  flex-direction: column;  
  form {
    width: 280px;
    background: #fbfbfb;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    mat-form-field {
      width: 100%
    }
  }

  form.error {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .info {
    display: flex;
    margin-top: 1.2rem;
    color: #fbfbfb;  
  }
  
}
