<mat-sidenav-container (backdropClick)="close('backdrop')" fullscreen>

  <mat-sidenav #sidenav opened="false" mode="over">

    <img src="../assets/images/logo.png" class="mt-3 mb-3 d-block logo">

    <mat-list>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/dashboard">Dashboard</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/partner">Partners</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/coupon-manager">Coupons</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/customers">Customers</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/finance-core"> Financials </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/settings"> Settings </a>
      </mat-list-item>
    </mat-list>

    <div class="support-info">
      <mat-list class="ml-3">
        <mat-list-item>
            <mat-icon class="ion-android-call"></mat-icon> {{ constant.supportphone }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="ion-ios-email"></mat-icon> {{ constant.supportemail }}
        </mat-list-item>
      </mat-list>
    </div>

  </mat-sidenav>

  <mat-toolbar class="mat-elevation-z4 mb-4" role="header" color="primary" *ngIf="auth.isLoggedIn">
    <mat-toolbar-row>
      <button mat-button disableRipple (click)="sidenav.toggle()" class="sidenav-toggle-button">
        <mat-icon aria-label="Menu" class="ion-navicon menu-icon"></mat-icon>
      </button>
      <span>{{ common.appName }} - {{ common.title }}</span>
      <span class="spacer"></span>
      <button mat-icon-button class="ion-ios-bell"></button>
      <button mat-icon-button class="ion-android-more-vertical" [matMenuTriggerFor]="menu"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="auth.userType === 'partner'">
          <mat-icon class="ion-gear-b"></mat-icon>
          <span>Edit Details</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="ion-log-out"></mat-icon>
          <span>Logout</span>
        </button>
        <!-- <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button> -->
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
