app-root:host {
    .logo {
        width: 162px;
        height: 83px;
        margin: 0 auto;
    }
    .spacer {
        flex: 1 1 auto;
    }
    button.mat-icon-button {
        font-size: 25px;
    }
    button.sidenav-toggle-button {
        min-width: 60px;
        padding: 0 15px 0 0;
    }
    button.sidenav-toggle-button:focus {
        outline: 0;
    }
    mat-list-item {
        &.active {
            font-weight: 700;
            background: #e8e8e8;
        }
        a {
            outline: 0;
            text-decoration: none;
            color: inherit;
            padding-left: 1rem;
        }
        a.active {
            font-weight: 600;
        }
    }
    .menu-icon {
        height: 28px;
        font-size: 28px;
    }

    // Support

    .support-info {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        padding-bottom: 10px;
    }

    .support-info > mat-list > .mat-list-item {
        font-size: 12px;
    }
    
    .support-info > mat-list > .mat-list-item mat-icon {
        width: 16px;
        height: 16px;
        position: relative;
        top: 1px;
        font-size: 16px;
        margin-right: 2px;
    }

    .mat-card-header-text {
        margin: 0;
    }

}