<div class="container-fluid">
  <div class="row">

    <!-- Sidemenu - Categories -->
    <div class="col col-3 col-sm-3 border-right no-scroll">
      
      <div class="float-right">
          <button mat-button class="mr-2" (click)="uploadMenu('draft')" [disabled]="isDisabled">Save Draft</button>
          <button mat-raised-button color="dark-green" no-shadow (click)="uploadMenu('publish')" [disabled]="isDisabled">
            <i class="ion-ios-checkmark-empty"></i> Publish
          </button>
      </div>
      <div class="clearfix"></div>

      <!-- <h3 class="title">Promotional</h3>
      <ul class="category font-weight-bold" style="opacity: 0.3; pointer-events: none">
        <li>Recommended</li>
        <li>Popular</li>
      </ul> -->

      <h3 class="title">Food Menu</h3>
      <ul class="category">
        <!-- <li *ngFor="let item of menuService.menu; let i = index" (click)="loadCategory(item)"> -->
        <li *ngFor="let item of menuService.menu; let i = index" 
        [ngClass]="[item.isMain ? 'has-sub' : '', item.selected ? 'selected' : '']"
        (click)="loadCategory(item, false, $event)">
          {{ item.name }}
          <div class="float-right">
            <button mat-icon-button type="button" *ngIf="item.isMain || item.isNew" (click)="createCategory('new', item, i)">
              <mat-icon class="ion-plus-round"></mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="openEditDialog('edit', item, i, null)">
              <mat-icon class="ion-edit"></mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="deleteCategory(item, i, null)">
              <mat-icon class="ion-trash-b"></mat-icon>
            </button>
          </div>
          <ul *ngIf="item.isMain" class="sub">
            <li *ngFor="let subitem of item.items; let j = index" 
            [ngClass]="subitem.selected ? 'selected' : ''"
            (click)="loadCategory(subitem, true, $event)">
              {{ subitem.name }}
              <div class="float-right">
                <button mat-icon-button type="button">
                  <mat-icon class="ion-edit" (click)="openEditDialog('edit', subitem, i, j)"></mat-icon>
                </button>
                <button mat-icon-button type="button">
                  <mat-icon class="ion-trash-b" (click)="deleteCategory(subitem, i, j)"></mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </li>

      </ul>

      <button mat-raised-button class="sticky-bottom" color="primary" (click)="createCategory('new', null, null)" block>CREATE CATEGORY</button>

    </div>

    <!-- Main Playing Body -->
    <div class="col col-9 col-sm-9 main-section no-scroll">

      <!-- Empty Section -->
      <empty-selection *ngIf="isCategorySelected == false"></empty-selection>

      <!-- Category Menu Loaded -->
      <manage-category *ngIf="isCategorySelected == true"></manage-category>

    </div>

  </div>
</div>