<form #partnerForm="ngForm" (ngSubmit)="submitPartner(partnerForm)" novalidate *ngIf="isAdding">
  <h2 class="title mb-4 d-inline-block">Add New Partner</h2>
  <div class="float-right" *ngIf="actionButtons">
    <button mat-raised-button class="mat-elevation-z1 shadow mr-2">Cancel</button>
    <button mat-raised-button class="mat-elevation-z1 shadow" color="green" type="submit" [disabled]="partnerForm.invalid">Save</button>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col col-md-4">
      <div class="box-card">
        <h3 class="title">Basic Details</h3>
        <mat-form-field>
          <input matInput placeholder="Restaurant Name" name="name" [(ngModel)]="name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Phone" name="phone" [(ngModel)]="phone" required>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <input matInput placeholder="Alternate Phone" name="alternate" [(ngModel)]="alternate">
            </mat-form-field>
          </div>
        </div>
        <div class="row" ngModelGroup="location" #locationCtrl="ngModelGroup">
          <div class="col-12 col-md-5">
            <mat-form-field>
              <input matInput placeholder="Latitude" type="number" name="latitude" [(ngModel)]="latitude" required>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-5">
            <mat-form-field>
              <input matInput placeholder="Longitude" type="number" name="longitude" [(ngModel)]="longitude" required>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-2">
            <button mat-icon-button color="green" type="button" (click)="loadLocation(partnerForm, partnerForm.value.location.latitude, partnerForm.value.location.longitude); $event.preventDefault()">
              <button aria-label="Find Location" mat-mini-fab color="green" style="font-size: 25px;"><i class="ion-location"></i></button>
            </button>
          </div>
        </div>
        <div #gmap style="width: 100%; height: 300px;" class="mt-3 mb-3"></div>
        <div ngModelGroup="basic" #basicCtrl="ngModelGroup">
          <mat-form-field>
            <textarea matInput cols="30" rows="3" placeholder="Address" name="address" [(ngModel)]="address" required></textarea>
          </mat-form-field>
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field>
                <input matInput placeholder="City" name="city" [(ngModel)]="city" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field>
                <input matInput placeholder="State" name="state" [(ngModel)]="state" required>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field>
            <input matInput placeholder="Pincode" name="pincode" [(ngModel)]="pincode" required>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col col-md-4" ngModelGroup="characteristics" #characteristicsCtrl="ngModelGroup">
      <div class="box-card">
        <h3 class="title">Characteristics</h3>

        <mat-form-field>
          <mat-select placeholder="Select Type" name="type" [(ngModel)]="type" required>
            <mat-option value="Quick Service">Quick Service</mat-option>
            <mat-option value="Quick Service">Restaurant</mat-option>
          </mat-select>
        </mat-form-field>

        <label class="d-block">SERVICES</label>
        <mat-form-field>
          <mat-select placeholder="Select Services" multiple name="services" [(ngModel)]="services" required>
            <mat-option value="Breakfast">Breakfast</mat-option>
            <mat-option value="Lunch">Lunch</mat-option>
            <mat-option value="Dinner">Dinner</mat-option>
            <mat-option value="Cafe">Cafe</mat-option>
            <mat-option value="Nightlife">Nightlife</mat-option>
          </mat-select>
        </mat-form-field>
        
        <label class="d-block">SEATING</label>
        <mat-radio-group name="seating" [(ngModel)]="seating" required>
          <mat-radio-button value="1">Seating Available</mat-radio-button>
          <mat-radio-button value="2">Seating Not Available</mat-radio-button>
        </mat-radio-group>

        <label class="d-block">Cuisine</label>
        <mat-form-field>
          <mat-select placeholder="Select Cuisine" multiple name="cuisine" [(ngModel)]="cuisine" required>
            <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine">{{cuisine}}</mat-option>
          </mat-select>
        </mat-form-field>

        <label class="d-block">Timings</label>
        <mat-form-field>
          <mat-select placeholder="Timings" multiple name="weektimings" [(ngModel)]="weektimings" required>
            <mat-option value="Monday">Monday</mat-option>
            <mat-option value="Tuesday">Tuesday</mat-option>
            <mat-option value="Wednesday">Wednesday</mat-option>
            <mat-option value="Thursday">Monday</mat-option>
            <mat-option value="Friday">Friday</mat-option>
            <mat-option value="Saturday">Saturday</mat-option>
            <mat-option value="Sunday">Sunday</mat-option>
          </mat-select>
        </mat-form-field>
        
        <div class="row mt-3">
          <div class="col col-md-6">
            <mat-form-field>
              <input matInput type="time" atp-time-picker placeholder="Open Time" name="opentime" [(ngModel)]="opentime">
            </mat-form-field>
          </div>
          <div class="col col-md-6">
            <mat-form-field>
              <input matInput type="time" atp-time-picker placeholder="Close Time" name="closetime" [(ngModel)]="closetime" required>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
    <div class="col col-md-4">

      <div class="box-card">
        <h3 class="title">Business Agreement</h3>
  
        <mat-form-field>
          <input matInput type="number" placeholder="Commission Percentage" name="commission" [(ngModel)]="commission" required>
          <mat-icon matSuffix class="ion-pricetag"></mat-icon>
        </mat-form-field>
      </div>

      <div class="box-card" ngModelGroup="bankDetails" #bankCtrl="ngModelGroup">
        <h3 class="title">Bank Details</h3>

        <mat-form-field>
          <input matInput placeholder="Acc Name" name="accname" [(ngModel)]="accname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Acc Number" type="number" name="number" [(ngModel)]="number" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bank Name" name="bankname" [(ngModel)]="bankname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Branch Name" name="branch" [(ngModel)]="branch" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="IFSC Code" name="ifsc" [(ngModel)]="ifsc" required>
        </mat-form-field>
      </div>

    </div>
  </div>

</form>

<div *ngIf="!isAdding">
  <h2 class="title mb-4 d-inline-block">Add New Partner</h2>
  <div class="row">
    <div class="col col-12 col-md-12 align-self-center text-center">
      <div class="success-box">
        <div class="success-icon ion-ios-checkmark"></div>
        <h3>Partner Added Successfully</h3>
        <p>
          <strong>{{ response.name }}</strong> was added as Partner. Please find below login credentials which has also been mailed to the partner's email address.
          <br>
          <span>
            <strong>Note</strong>: This info will be show only once</span>
        </p>
        <div class="info-box mt-4">
          <mat-form-field class="w-100">
            <input matInput placeholder="Username" value="response.partnerID" readonly>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" value="{{response.password}}" readonly>
            <mat-icon matSuffix (click)="hide = !hide" [class]="hide ? 'ion-eye-disabled' : 'ion-eye'"></mat-icon>
          </mat-form-field>
        </div>
        <div class="d-flex mt-3">
            <button mat-raised-button class="mat-elevation-z1 shadow mr-2" color="green" (click)="addNew()" block>Add New</button>
            <button mat-raised-button class="mat-elevation-z1 shadow ml-2" color="primary" (click)="addNew()" block>Manage Menu</button>
        </div>
      </div>
    </div>
  </div>
</div>