<h2 class="title mb-4">Analytics Summary</h2>

<div class="d-flex flex-wrap">
    <div class="card">
        <i class="ion-arrow-graph-up-right"></i>
        <h5 class="card-title">Pending Payouts</h5>
        <div class="figure">
            16855
        </div>
    </div>
    <div class="card">
        <i class="ion-arrow-graph-up-right"></i>
        <h5 class="card-title">Last Paid Payout</h5>
        <div class="figure">
            16855
        </div>
    </div>
    <div class="card">
        <i class="ion-arrow-graph-up-right"></i>
        <h5 class="card-title">Total Payouts Paid</h5>
        <div class="figure">
            16855
        </div>
    </div>
    <div class="card">
        <i class="ion-arrow-graph-up-right"></i>
        <h5 class="card-title">Total Revenue</h5>
        <div class="figure">
            16855
        </div>
    </div>
    <div class="card">
        <i class="ion-arrow-graph-up-right"></i>
        <h5 class="card-title">In Total Commissions</h5>
        <div class="figure">
            16855
        </div>
    </div>    
</div>